body {
  width: 1200px;
}

#welcome{
  font-size: 30px;
  color: green;
  margin: auto;
  text-align: center;
}
#pets {
  background-image: linear-gradient(green, white);
  font-size: 25px;
  color: white;
  margin: auto;
  text-align: center;
}